/* This file contains the styles for the profile page */

/* Import the font */

@font-face {
    font-family: 'Balsamiq Sans';
    src: url('../fonts/BalsamiqSans-Regular.ttf') format('truetype');
}

/* Set the styles */

body {
    margin: 0;
    padding-bottom: 60px;
    font-family: 'Balsamiq Sans';
}

header {
    font-family: 'Balsamiq Sans';
    border: 3px solid black;
    border-radius: 5px;
    margin: 10px 10px;
}

.logo {
    width: 200px;
    margin-top: -10px;
    margin-bottom: -10px;
}

.row {
    font-family: 'Balsamiq Sans';
}

/* Set the styles for the profile */

#circle-profile {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-bottom: 28px;
    margin-left: auto;
}

/* Set the styles for the footer */

footer {
    font-family: 'Balsamiq Sans';
    background-color: white;
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    border-top: 2px solid black;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

footer div p {
    margin: 0 10px;
}

a {
    color: blue;
}
