/* This file contains the styles for the search page */

/* Import the font */

@font-face {
    font-family: 'Balsamiq Sans';
    src: url('../fonts/BalsamiqSans-Regular.ttf') format('truetype');
}

/* Set the styles for the page */

body {
    margin: 0;
    font-family: 'Balsamiq Sans';
}

header {
    font-family: 'Balsamiq Sans';
    border: 3px solid black;
    border-radius: 5px;
    margin: 10px 10px;
}

.logo {
    width: 200px;
    margin-top: -10px;
    margin-bottom: -10px;
}

/* Set the styles for the footer */

footer {
    font-family: 'Balsamiq Sans';
    background-color: white;
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    border-top: 2px solid black;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

footer div p {
    margin: 0 10px;
}

a {
    color: blue;
}

/* Set the styles for the search form */

.search {
    font-family: 'Balsamiq Sans';
    margin: 0 auto;
    width: 90%;
    padding: 20px;
}

#form-group {
  margin-top: 30px;
}

label {
  margin-right: 30px;
  margin-bottom: 5px;
}

select {
  padding: 8px;
  border-radius: 3px;
  border: 3px solid black;
}

button[type="submit"] {
  margin-top: 40px;
  padding: 8px 20px;
  background-color: white;
  color: black;
  border: 3px solid black;
  border-radius: 3px;
  cursor: pointer;
  margin-left: -10px;
}

button[type="submit"]:hover {
    background: black;
    color: white;
}

.previous-matches {
    font-family: 'Balsamiq Sans';
    margin-top: 40px;
    margin-left: 6%;
}