@font-face {
    font-family: 'Balsamiq Sans';
    src: url('../fonts/BalsamiqSans-Regular.ttf') format('truetype');
}

body {
    font-family: 'Balsamiq Sans';
    box-sizing: border-box;
}

.logo {
    width: 300px;
    margin: 0 auto;
    position: relative;
    top: 50px;
}

#signup-form {
    text-align: center;
    width: 100%;
}

input {
    width: 100%;
}

button {
    text-align: center;
}

input.form-control,
button.btn {
    font-family: 'Balsamiq Sans';
    font-weight: 400;
    font-size: large;
    padding: 10px 25px;
    border: 3px solid black;
    border-radius: 3px;
    color: black;
    background: white;
    margin: 2px;
}

button.btn:hover {
    background: black;
    color: white;
}

footer {
    font-family: 'Balsamiq Sans';
    text-align: center;
    border-top: 2px solid black;
}

footer p {
    margin: 0 10px;
}

p {
    font-family: 'Balsamiq Sans';
}

a {
    color: blue;
}